<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Notable is a small team of designers and developers building out a web app used for discovering insights through organizing your thoughts and ideas. It is based off the 
  <a href="productivityanywhere.com/2012/09/d3-framework/">productivity framework</a> developed by Derek Chen.
</p>
<p>
  Despite the deluge of information faced by today’s society, most people still lean on notebooks or whiteboards to record their thoughts or to sketch out a quick idea.  These inventions are 130 and 50 years old respectively, yet we can’t seem to do any better.
</p>
<p>
	Sure, companies have tried to make progress, but most tools are difficult to learn and cumbersome to use.  There simply lacks an application that not only has the accessibility of a piece of paper, but also has the capability of modern software (e.g. undo/redo).  Even more troublesome, the apps that <em>are</em> good at collecting ideas fail to let you do anything with them once they are in the system.  You can't structure, organize or manipuate your own data. You can't view the notes in a format that matches the way <em>your</em> mind thinks. This is where Notable steps in.
</p>
<p>
	Built on the simple idea that true productivity is about taking effective action, rather than just efficient action, Notable allows you to work with your ideas to facilitate the discovery of meaningful connections.  More than just a tool for storing tasks or creating lists, Notable intelligently prioritizes those tasks to see which ones you should be taking action on first.  Ultimately, by allowing you to actively work with your ideas, Notable helps you find the signal through the noise. 
</p>
<p>Special thanks to Greg, Brian, Irina, Jasmine, Erik and Kevin.</p>