<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is Verison 0.2 of a web app used for discovering insights through organizing your thoughts and ideas. It is based off the 
  <a href="productivityanywhere.com/2012/09/d3-framework/">productivity framework</a> developed by Derek Chen.
</p>
<p>
  Despite the deluge of information faced by today’s society, most people still lean on notebooks or whiteboards to record their thoughts or to sketch out a quick idea.  These inventions are 130 and 50 years old respectively, yet we can’t seem to do any better.
</p>
<p>
	Sure, companies have tried to make progress, but most tools are difficult to learn and cumbersome to use.  There must be something out there that not only has the accessibility of a piece of paper, but also has the capability of modern software (e.g. undo/redo).  Currently, there are some apps that come real close, and this blog will be utilized to track that progress.  Additionally, I am doing everything I can from learning programming to developing productivity theory to help push that progress along.
</p>
<p>Special thanks to Greg, Brian, Irina, Jasmine, Erik and Kevin.</p>