<% provide(:title, 'Contact') %>
<body>
  <%= render 'layouts/header_out' %>
  <div class="container" id="main_container">
    <%= render 'layouts/flash' %>
	<h1>Contact</h1>
	<p>
	  Contact the makers of Notable by sending an email to "Info at ProductivityAnywhere dot com" </a>.
	</p>
	<%= render 'layouts/footer' %>
  </div>
</body>	