<% provide(:title, 'Settings') %>
<body>
  <%= render 'layouts/header_in' %>
  <div class="container" id="main_container">
    <%= render 'layouts/flash' %>

<h1>Settings</h1>
<p>
  Options to personalize your app experience:
</p>
<ul>
	<li>Custom background themes</li>
	<li>Set default View: List, MindMap, or Drawing</li>
	<li>Set default Theme: Inverse, Forest, Birch, Fire </li>
	<li>Set default Mindmap Items: Cornered or Rounded</li>
	<li>Set default Drawing Tool: Sketch, Shape, or Share</li>
	<li>Toggle Features: Tags, Comments, and Ratings</li>
</ul><br/>


<div class="row">
  <div class="span3">
    <p>Right now we are working on creating a notebook section for you to enjoy.</p>
  </div>
  <div class="span6">
    <%= image_tag "notebooks.jpg", mouseover: "all_notebooks.jpg" %>
  </div>
</div>

  </div>
</body>