<% provide(:title, 'Settings') %>
<h1>Settings</h1>
<p>
  Options to personalize your app experience:
</p>
<ul>
	<li>Custom background themes</li>
	<li>Set default View: List, MindMap, or Drawing</li>
	<li>Set default List Items: bullet, number, or checkbox</li>
	<li>Set default Mindmap Items: Cornered or Rounded</li>
	<li>Set default Drawing Tool: Sketch, Shape, or Share</li>
	<li>Toggle Features: Tags, Comments, and Ratings</li>
</ul>
