
<h4><%= link_to "Tags", sort_by_path(criteria: cookies[:criteria] || "position"), remote: true %></h4>
<% @tags.each do |tag| %>
  <ul>
    <li><%= link_to tag.name, filter_tag_path(tag.name), remote: true %></li>
  </ul>
<% end %>

