@import "bootstrap";
body {
  padding-top: 60px;
}

@import "bootstrap-responsive";

/****************
  Mixins and Variables
 *****************/

$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableGray: #EAEAEA;
$notableBlack: #3D3D3D;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/****************
  Full Page
 *****************/

html {
  overflow-y: scroll;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
body {
  background-image: url('brilliant.png');
}


/******************
  Typography
 *******************/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $notableBlack;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif; 
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: gray;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*******************
  Header 
 *******************/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $notableWhite;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: $notableYellow;
    text-decoration: none;
  }
}

.navbar .nav > li > a {
  color: $notableWhite;
  text-shadow: 0 1px 0 #555555;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: $notableWhite;
}

#navbar-main {
  background-color: #14A4FF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,  from(#14A4FF), to(#1C8DFF));
  background-image: linear-gradient(to bottom, #14A4FF, #1C8DFF);
}

/*******************
  General Pages 
 *******************/

.profile_info h2 {
  text-align: left;
  letter-spacing: 0px;
  font-family: "Trebuchet MS", Tahoma, Geneva, sans-serif;
}

.hero-unit {
  background-color: #D5EFFF;

  & p {
    margin: 0 auto 10px;
    width: 900px;
    letter-spacing: -0.5px;
  }
}

/*******************
  Form
 *******************/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

#user_remember_me {
  margin-top: 2px;
}

.remember_label {
  margin: 5px 0px 15px 0px;
}

#sign_up_link {
  float: right;
  font-size: 14px;
}

/*******************
  Sidebar
 *******************/

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  a {
    float: left;
    padding: 0 40px 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding: 0 10px 0 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/*******************
  User Views
 *******************/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

#edit_gravatar {
  display: block;
  height: 50px;
  margin-bottom: 30px;
}



/*******************
  Footer 
 *******************/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $notableGray;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*******************
  Miscellaneous 
 *******************/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
