@import "bootstrap";
@import "bootstrap-responsive";

/****************
  Mixins and Variables
 *****************/

$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableGray: #EAEAEA;
$notableBlack: #3D3D3D;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/****************
  Full Page
 *****************/

html {
  overflow-y: scroll;
}
body {
  background-image:url('satinweave.png');
  &#signed_out {
    background-image:url('brilliant.png');
  }
}
#main_container {
  width: 75%;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/******************
  Typography
 *******************/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $notableBlack;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif; 
  text-shadow: 0 1px white;

}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: gray;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px white;

}

/*******************
  Header 
 *******************/

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 8px;
}

.navbar .nav {
  margin: 0;
}

.navbar .signed_in > li > a  {
  padding: 0;
  margin: 7px 0 0 10px;

}

.navbar .signed_out > li > a {
  color: $notableBlue;
  text-shadow: -1px -1px 0 #FDFDFD;
  margin-top: 4px;
  font-size: 1.1em;
  &:hover {
    color: $notableOrange;
    text-decoration: none;
  }
}

#navbar-main {
  height: 45px;
  background: #FDFDFD; /* Old browsers */
  background: -moz-linear-gradient(top, #FDFDFD 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #FDFDFD 0%,#cccccc 100%); /* W3C */
}

.navbar-inner {
  border-radius: 0;
}

/*******************
  Search 
 *******************/

.search_btn {
  background: white;
  border: none;
}

@-moz-document url-prefix() {
  .search_btn {
    padding-bottom: 1px;
  }

  :focus {outline:none;}
  ::-moz-focus-inner {border:0;}
}

input#query:active,input#query:focus {
  outline: none;
  border:none !important;
  box-shadow:none !important;
   -webkit-appearance:none;
}

#search_field {
  padding-top: 5px;
  height: 30px;
  & .btn {
    margin-top: 0px;
  }
}

#query {
  position: relative;
  bottom: 2px;
}


/*******************
  General Pages 
 *******************/

.profile_info h2 {
  text-align: left;
  letter-spacing: 0px;
  font-family: "Trebuchet MS", Tahoma, Geneva, sans-serif;
}

.hero-unit {
  background-color: #D5EFFF;

  & p {
    margin: 0 auto 10px;
    max-width: 900px;
    letter-spacing: -0.5px;
  }
}

/*******************
  Form
 *******************/

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


/*******************
  User Views
 *******************/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

#edit_gravatar {
  display: block;
  height: 50px;
  margin-bottom: 30px;
}



/*******************
  Footer 
 *******************/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $notableGray;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*******************
  Sign In
 *******************/

#user_remember_me {
  margin-top: 2px;
}

.remember_label {
  margin: 5px 0px 15px 0px;
}


