/****************
  Mixins and Variables
 *****************/

$grayMediumLight: #eaeaea;
$blueLight: #444fff;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/*******************
  Notes 
 *******************/

.notes {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $blueLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/*******************
  Phone_Input_Form 
 *******************/

.remind_times > form {
  margin: 5px 0;
}

.phone_instructions {
  font-style: italic;
  color: #8099B2;
  display: inline;
}

input[type="tel"], .phone_input {
  width: 140px;
  margin: -2px 5px 0 8px;
}

.phone_submit {
  border-radius: 15px;
}

/*******************
  List Sorting 
 *******************/

.handle {
  float:right;
  cursor: pointer;
  display: none;
  position: relative;
  bottom: 15px;
}

/*******************
  Icons 
 *******************/

.icon-trash {
  margin: 2px 4px 0px 4px;
}

.duplicate {
  margin: 0px 3px;
  position:relative;
  bottom: 1px;
}

.remind {
  margin: 0px 3px;
  position:relative;
  bottom: 1px;
}

a.remind:focus {
  outline: none;
}

/*******************
  Reminders 
 *******************/

.remind_times {
  margin: 14px 10px 4px 10px;
  display: none;
}

.badge {
  margin: 5px 20px 0px 22px;
}

