/****************
  Mixins and Variables
 *****************/

$grayMediumLight: #eaeaea;
$blueLight: #444fff;
$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableGray: #EAEAEA;
$notableBlack: #3D3D3D;


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/*******************
  Notes 
 *******************/

.notes {
  list-style: none;
  margin: 10px 14px 0 14px;

  > li{
    margin: 10px;
    border-bottom: 2px solid #EDEDED;
  }
  > li:last-child {
    margin-bottom: 0;
    border: none;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

div.inline-left {
  float: left;
  padding: 2px 2px;
}

.content {
  font-size: 1.1em;
  //font-family: Tahoma, Arial, sans-serif;
  font-weight: bold;
}

.subtitle {
  display: block;
}

/*******************
  Phone_Input_Form 
 *******************/

.remind_times > form {
  margin: 5px 0;
}

.phone_instructions {
  font-style: italic;
  color: #8099B2;
  display: inline;
}

input[type="tel"], .phone_input {
  width: 140px;
  margin: -2px 5px 0 8px;
}

.phone_submit {
  border-radius: 15px;
}

/*******************
  Move Notes
 *******************/

.handle {
  float: right;
  cursor: pointer;
  display: none;
  position: relative;
  top: 40px;
  left: 130px;
}

/*******************
  Icons 
 *******************/

#note-icons {
  float: right;
  position: relative;
  bottom: 14px;
}

.trash_icon {
  padding-right: 2px;
  &:hover {background-position: -26px -2px;}
}
.reminder_icon {
  padding-right: 2px;
  &:hover {background-position: -2px -173px;}
}
.attach_icon {
  &:hover {background-position: -50px -149px;}
}
.duplicate_icon {
  &:hover {background-position: -208px -117px;}
}
.tag_icon {
  &:hover {background-position: -122px -2px;}
}

a.remind:focus, a.trash:focus {
  outline: none;
}

.filepicker {
  border: none;
  background-color: transparent;
}
button.filepicker {
  vertical-align: top;
  padding: 0 1px 0 3px;
}

.list-tags {
  position: relative;
  top: 1px;
  & a {
    color: gray;
    text-shadow: 0px 0px 2px $notableYellow;
    filter: dropshadow(color=#A6871F, offx=0, offy=0);
  }
}

/*******************
  Reminders 
 *******************/

.remind_times {
  margin: 14px 10px 4px 10px;
  display: none;
}

.badge {
  margin: 5px 20px 0px 22px;
}

/*******************
  Tags 
 *******************/

.tag {
  float: right;
}

#tag_area  ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 5px;
  display: inline;
}

#tag_area ul li {
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline;
}

.tag_area_item {
  margin-top: 3px;
}

.clear_filter {
  margin: 5px 0;
}

/*******************
  Layout
 *******************/

.items-area {
  height: 100px;
  font-family: Tahoma, Arial, sans-serif;
}

 #note-section {
   background-color: #FDFDFD;
   display: block;
   margin: 16px 25px 25px 25px;
 }


