/****************
  Mixins and Variables
 *****************/

$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableGray: #EAEAEA;
$notableBlack: #3D3D3D;
$notableDarkGray: #999999;

/*******************
  Extension Section
 *******************/

#extension-section{
  display: inline-block; 
  width: 100%;
}


/*******************
  Extension Nav
 *******************/

#extension-nav {
  margin-left: 0.9em;
}

#simple-menu {
  float: left;
  margin: 0 5px 5px 0;
}
#simple-nav {
  float: left;
  margin: 0 5px 5px 0;
}

#save-notification{
  margin-top: 5px;
  color: $notableDarkGray;
  font-family: 'Century Gothic', "Arial", san-serif;
  font-size: 0.9em;
  font-weight: bold;
}

.expand_icon {
  cursor: pointer;
  &:hover {background-position: -88px -117px;}
}
.new_icon {
  cursor: pointer;
  &:hover {background-position: -2px -61px;}
}

form#new_note {
  margin: 0;
}



/*******************
  Sort (Extension)
 *******************/

.sort {
  position: relative;
  bottom: 32px;
  border: 1px solid $notableBlack;
  border-radius: 4px;
  background-color: $notableGray;
}

.sort-toggle {
  color: $notableBlack;
  padding: 4px;
  &:hover {
   text-decoration: none;
  }
}

.sort-menu { 
}

/*******************
  Extension Views
 *******************/

#extension_views {
  margin: 0.1em 1.4em 0 0;
  padding-top: 4px;
}

.freeform_icon {
  cursor: pointer;
  &:hover {background-position: -218px -93px;}
  &:active {background-position: -2px -117px;}
}
.grid_icon {
  cursor: pointer;
  &:hover {background-position: -110px -93px;}
  &:active {background-position: -137px -93px;}
}
.list_icon {
  cursor: pointer;
  &:hover {background-position: -2px -93px;}
  &:active {background-position: -29px -93px;}
}
.mindmap_icon {
  cursor: pointer;
  &:hover {background-position: -125px -61px;}
  &:active {background-position: -152px -61px;}
}

/*******************
  Part B
 *******************/

#notebook-section {
  display: block;
  background-image:url('cardboard_flat_@2X.png');
  position: relative;  
  z-index: -1000;
  margin-bottom: 50px;
  border-radius: 10px;
  h3 {
    color: $notableDarkGray;
    font-family: 'Century Gothic', "Arial", san-serif;
    text-align:center;
    font-size: 1.0em;
    padding-top: 7px;
    font-weight: bold;
  }
 }
