/****************
  Mixins and Variables
 *****************/

$grayMediumLight: #eaeaea;
$blueLight: #444fff;
$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableGray: #EAEAEA;
$notableBlack: #3D3D3D;

/*******************
  Sidebar
 *******************/

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $notableGray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3pxk;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  a {
    float: left;
    padding: 0 40px 0 10px;
    border-left: 1px solid $notableGray;
    color: gray;
    &:first-child {
      padding: 0 10px 0 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $notableBlue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

div#sidr li a:hover {
  color: $notableYellow;
}

div#sidr li a {
  color: rgba(51,51,51,0.8);
}

div#sidr li a.clicked {
  color: $notableBlue;
}

div#sidr {
  background-image:url('brilliant.png');
}
div#sidr h2 {
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Arial, sans-serif; 
  background-color: #EDEDED;
  margin: 0 0 0;
}

