<li id="search_field">
  <%= form_tag note_search_path, class: "navbar-search", method: :get, remote: true do %>
      <%= text_field_tag :query, params[:query], class: "search-query", placeholder:"Search" %>
  <% end %>
</li>
