<h2>TAGS</h2>
<ul>
  <li>
    <ul>
      <% @tags.each do |tag| %>
        <li>
        <%= link_to tag.name, filter_tag_path(tag.name), remote: true %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>

<div class="clear_filter">
  <%= link_to "Clear all", sort_by_path(criteria: cookies[:criteria] || "position"), remote: true %>
</div>
