<header class="navbar ">
  <div class="navbar-inner" id="navbar-main">
    <%= link_to "NOTABLE v0.6", root_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Help",    help_path %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      </ul>
    </nav>
  </div>
</header>
