<header class="navbar ">
  <div class="navbar-inner" id="navbar-main">
    <%= link_to image_tag("logo.png", alt: "Notable", width: "162", height: "27"), root_path, id: "logo" %> 
    <nav>
      <ul class="nav pull-right signed_out">
        <li><%= link_to "Help",    help_path %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      </ul>
    </nav>
  </div>
</header>
